body {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(3, 200px);
}

.border-right {
	border-right: 1px solid #000000;
}

.border-bottom {
	border-bottom: 1px solid #000000;
}